
<footer class="footer">
  <div class="container-fluid">
    
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}} 
      <a href="javascript:void(0);" target="_blank">Posem</a>. Coded by
      <a href="javascript:void(0);" target="_blank">Agaze Technologies</a>.
    </div>
  </div>
</footer>
