<div class="panel-header panel-header-sm">

</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title float-left title"> Device List</h5>
                    <a href="javascript:void(0);" routerLink='/device/add' class="btn btn-xs btn-info float-right"> <span class="fa fa-plus"></span> Add Device</a>
                </div>
                <div class="clearfix"></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Device ID
                                </th>
                                <th>
                                    User Name
                                </th>
                                <th>
                                    Email ID
                                </th>
                                <th>
                                    Actions
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let device of devices | sortgrid: '-date_created'">
				                  <td>
				                    {{ device.device_id }}
				                  </td>
				                  <td>
				                    {{ device.user_id.firstName }}
				                  </td>
				                  <td>
				                    {{ device.user_id.email }}
				                  </td>
				                  <td>
                                    <a href="javascript:void(0);" routerLink="/device/view/{{ device.id }}"class="btn btn-xs btn-info mr-1">
                                        <span class="fa fa-edit"></span> View
                                    </a>
				                  	<!-- <a href="javascript:void(0);" routerLink="/device/edit/{{ device.id }}" class="btn btn-xs btn-primary mr-1">
				                  		<span class="fa fa-edit"></span> Edit
				                  	</a> -->
				                  	<a href="javascript:void(0);" (click)="deleteDevice(device.id, device.user_id.id)" class="btn btn-xs btn-danger">
				                  		<span class="fa fa-trash"></span> Delete
				                  	</a>
				                  </td>
				                </tr>
                            </tbody>
                        </table>
                        <div class="loader loader_dark loader_md" *ngIf="isLoading"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>