<div class="panel-header panel-header-sm">

</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title title">Dealer Details</h5>
                    <h5 *ngIf="isEditing" class="card-title title"> Edit Dealer Admin </h5>
                </div>
                <div class="card-body">
                	<div class="loader loader_dark loader_md" *ngIf="isLoading"></div>
					<div class="row" *ngIf="!isLoading">
		            	<div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>Firstname</label>
			                  <p>{{user.firstName}}</p>
			                </div>
			                <div class="form-group">
			                  <label>Lastname</label>
			                  <p>{{user.lastName}}</p>
			                </div>
			                <div class="form-group">
			                  <label>Email ID</label>
			                  <p>{{user.email}}</p>
			                </div>
			                <div class="form-group">
			                  <label>City</label>
			                  <p>{{user.user_city}}</p>
			                </div>
			                <div class="form-group">
			                  <label>List Of {{ user.firstName }}'s Devices</label>
			                  <ul>
			                  	<li *ngFor="let device of devices">
			                  		{{ device.device_id }}
			                  	</li>
			                  </ul>
			                </div>
			                <div class="form-group">
			                	<button type="button" (click)="backButton()" class="btn btn-default btn-xs">Back </button>
			                </div>
			            </div>
			        </div>
                </div>
            </div>
        </div>
    </div>
</div>