<div class="panel-header panel-header-sm">

</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title title"> Add Device </h5>
                </div>
                <div class="card-body">
                    <form #deviceForm="ngForm" (ngSubmit)="onSubmit(deviceForm)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="device_name">Device Name</label>
                                    <input type="text" class="form-control" name="device_name" #deviceName="ngModel" [(ngModel)]="device.device_name" placeholder="Device Name" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Device ID</label>
                                    <input type="text" class="form-control" name="device_id" #deviceId="ngModel" [ngClass]="{'is-invalid': deviceId.errors && deviceId.touched}" [(ngModel)]="device.device_id" placeholder="Device ID" autocomplete="off" required>
                                    <div [hidden]="!deviceId.errors?.required" class="invalid-feedback">
                                        Device ID is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Dealer</label>
                                    <select name="user_id" class="form-control" #userId="ngModel" [ngClass]="{'is-invalid': userId.errors && userId.touched}" [(ngModel)]="device.user_id" required>
                                        <option value="">Choose</option>
                                        <option value="{{ user.id }}" *ngFor="let user of users">
                                            {{ user.firstName }}
                                        </option>
                                    </select>
                                    <div [hidden]="!userId.errors?.required" class="invalid-feedback">
                                        Dealer is required.
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>Confirm Password</label>
			                  <input 
			                  type="password" 
			                  class="form-control" 
			                  placeholder="Password"
			                  name= "confirmpassword"
			                  #dealAdConfPassword= "ngModel"
			                  [ngClass]= "{'is-invalid': dealAdConfPassword.errors && dealAdConfPassword.touched}"
			                  [(ngModel)]= "confirmpassword"
			                  placeholder= "Password"
			                  minlength="5"
			                  required validateEqual="dealAdPassword"
			                  required>
			                  <div [hidden]="!dealAdConfPassword.errors?.required" class="invalid-feedback">
                            	  Please confirm password.
                              </div>
                              <div [hidden]="!dealAdConfPassword.errors?.minlength" class="invalid-feedback">
                            	  Minimum length is 5.
                              </div>
                              <div [hidden]="dealAdConfPassword.valid" class="invalid-feedback">
                            	  Password Mismatch.
                              </div>
			                </div>
			            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="select_dev_text">Select Device Position using the map:</p>

                            </div>
                        </div>
                        <div class="row gllpLatlonPicker">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="gllpSearchField small_field form-control">
                                    <input type="button" class="gllpSearchButton btn btn-xs btn-default" value="Search">
                                </div>
                                <br/>
                                <br/>
                                <div class="gllpMap">Google Maps</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Device Latitude</label>
                                    <input type="text" class="form-control gllpLatitude" name="devie_latitude" #devieLatitude="ngModel" [ngClass]="{'is-invalid': devieLatitude.errors && devieLatitude.touched}" [(ngModel)]="device.devie_latitude" placeholder="Device Latitude" autocomplete="off" value="12.9715987" required>
                                    <div [hidden]="!devieLatitude.errors?.required" class="invalid-feedback">
                                        Device Latitude is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Device Longitude</label>
                                    <input type="text" class="form-control gllpLongitude" name="device_longitude" #deviceLongitude="ngModel" [ngClass]="{'is-invalid': deviceLongitude.errors && deviceLongitude.touched}" [(ngModel)]="device.device_longitude" placeholder="Device Longitude" autocomplete="off" value="77.59456269999998" required>
                                    <div [hidden]="!deviceLongitude.errors?.required" class="invalid-feedback">
                                        Device Longitude is required.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- <label for="">Zoom:</label>
								<input type="text" class="gllpZoom small_field form-control" value="11"/> -->
                                    <input type="button" class="gllpUpdateButton btn btn-xs btn-default" value="Update Map">
                                </div>
                            </div>
                        </div>

                        <!-- <hr> -->
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-xs btn-default mr-1" type="button" routerLink="/dealer" *ngIf="!onBtnLoading">Back</button>
                                <button class="btn btn-xs btn-primary" type="submit" *ngIf="!onBtnLoading">Submit</button>
                                <div class="loader loader_orange loader_xs" *ngIf="onBtnLoading"></div>
                            </div>
                        </div>
                        <!-- <div class="row">
			            	<div class="col-md-6 px-2">
				                <div class="form-group">
				                  <label>Address 1</label>
				                  <input type="text" class="form-control" placeholder="Address 1">
				                </div>
				            </div>
				            <div class="col-md-6 px-2">
				                <div class="form-group">
				                  <label>Address 2</label>
				                  <input type="text" class="form-control" placeholder="Address 2">
				                </div>
				            </div>
				        </div>
				        <div class="row">
			            	<div class="col-md-4 px-2">
				                <div class="form-group">
				                  <label>Street Name</label>
				                  <input type="text" class="form-control" placeholder="Street Name">
				                </div>
				            </div>
				            <div class="col-md-4 px-2">
				                <div class="form-group">
				                  <label>Street Number</label>
				                  <input type="text" class="form-control" placeholder="Street Number">
				                </div>
				            </div>
				            <div class="col-md-4 px-2">
				                <div class="form-group">
				                  <label>Zipcode</label>
				                  <input type="number" class="form-control" placeholder="Zipcode">
				                </div>
				            </div>
				        </div>
				        <div class="row">
				        	<div class="col-md-4 px-2">
				                <div class="form-group">
				                  <label>Zipcode</label>
				                  <select class="form-control">
				                  	<option value="">Dealer Admin</option>
				                  	<option value="">Dealer</option>
				                  </select>
				                </div>
				            </div>
				        </div> -->
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>