<div class="full_view full_cover">
    <div class="main-content">
        <div class="container">
        	<div class="row">
	            <div class="col-md-4 offset-md-4">
	                <div class="card card-user">
	                    <div class="image">
	                        <img src="../assets/img/bg5.jpg" alt="...">
	                    </div>
	                    <div class="card-body">
	                        <div class="author">
	                            <span>
	                                <img class="avatar border-gray" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="...">
	                                <h5 class="title">Posem - Forgot Password?</h5>
	                            </span>
	                        </div>
	                        <form #ForgotPasswordForm="ngForm" (ngSubmit)="onSubmit(email.value)">
	                            <div>
	                                <div class="col-md-12">
	                                    <div class="form-group">
	                                        <label>Enter E-mail ID</label>
	                                        <input 
	                                        type="email" 
	                                        #email = "ngModel"
	                                        [(ngModel)]="user.email"
	                                        name="email"
	                                        [ngClass]="{'is-invalid': email.errors && email.touched}"
	                                        class="form-control" 
	                                        autocomplete="off"
	                                        placeholder="E-mail ID"
	                                        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
	                                        required>
	                                        <div [hidden]="!email.errors?.required" class="invalid-feedback">
		                                    	E-mail ID is required.
		                                    </div>
		                                    <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
		                                    	E-mail ID is not valid.
		                                    </div>
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
	                                    <div class="form-group text-center">
	                                        <button [disabled]="!ForgotPasswordForm.valid" type="submit" class="btn btn-primary ">RESET</button>
	                                    </div>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                    <hr>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</div>