<div class="panel-header panel-header-sm">

</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title float-left title"> Dealer Admin List</h5>
                    <a href="javascript:void(0);" routerLink='/dealer-admin/add' class="btn btn-xs btn-info float-right"> <span class="fa fa-plus"></span> Add New</a>
                </div>
                <div class="clearfix"></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email ID
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Actions
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users | sortgrid: '-date_created'">
				                  <td>
				                    {{ user.firstName }} {{ user.lastName }}
				                  </td>
				                  <td>
				                    {{ user.email }}
				                  </td>
				                  <td>
				                    {{ user.user_city }}
				                  </td>
				                  <td>
                                    <a href="javascript:void(0);" class="btn btn-xs btn-info mr-1" routerLink="/dealer-admin/view/{{user.id}}">
                                        <span class="fa fa-eye"></span> View
                                    </a>
				                  	<a href="javascript:void(0);" class="btn btn-xs btn-primary mr-1" routerLink="/dealer-admin/edit/{{user.id}}">
				                  		<span class="fa fa-edit"></span> Edit
				                  	</a>
				                  	<a href="javascript:void(0);" (click)="deleteUser(user.id)" class="btn btn-xs btn-danger">
				                  		<span class="fa fa-trash"></span> Delete
				                  	</a>
				                  </td>
				                </tr>
                            </tbody>
                        </table>
                        <div class="loader loader_dark loader_md" *ngIf="isLoading"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>