<div class="full_view full_cover">
    <div class="main-content">
        <div class="container">
        	<div class="row">
	            <div class="col-md-4 offset-md-4">
	                <div class="card card-user">
	                    <div class="image">
	                        <img src="../assets/img/bg5.jpg" alt="...">
	                    </div>
	                    <div class="card-body">
	                        <div class="author">
	                            <span>
	                                <img class="avatar border-gray" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="...">
	                                <h5 class="title">Posem - Login</h5>
	                            </span>
	                        </div>
	                        <form #loginForm="ngForm" (ngSubmit)="onSubmit(EmailId.value, Password.value)">
	                            <div>
	                                <div class="col-md-12">
	                                    <div class="form-group">
	                                        <label>E-mail ID</label>
	                                        <input 
	                                        type="email" 
	                                        #EmailId = "ngModel"
	                                        [(ngModel)]="user.email"
	                                        name="EmailId"
	                                        [ngClass]="{'is-invalid': EmailId.errors && EmailId.touched}"
	                                        class="form-control" 
	                                        autocomplete="off"
	                                        placeholder="E-mail ID"
	                                        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
	                                        required>
	                                        <div [hidden]="!EmailId.errors?.required" class="invalid-feedback">
		                                    	E-mail ID is required.
		                                    </div>
		                                    <div [hidden]="!EmailId.errors?.pattern" class="invalid-feedback">
		                                    	E-mail ID is not valid.
		                                    </div>
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
	                                    <div class="form-group">
	                                        <label>Password</label>
	                                        <input 
	                                        type="password" 
	                                        #Password="ngModel" 
	                                        name="Password"
	                                        [(ngModel)]="user.password"
	                                        [ngClass]="{'is-invalid': Password.errors && Password.touched}"
	                                        class="form-control" 
	                                        placeholder="Password" 
	                                        required>
	                                        <div class="invalid-feedback">
		                                    	Password is required.
		                                    </div>
	                                    </div>
	                                </div>
	                                <div class="col-md-12">
	                                    <div class="form-group text-center">
	                                        <button [disabled]="!loginForm.valid" *ngIf="!onBtnLoading" type="submit" class="btn btn-primary ">LOGIN</button>
	                                        <div class="loader loader_orange loader_xs" *ngIf="onBtnLoading"></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </form>
	                        <p class="text-right frgt_pwd">
	                        	<a href="#" routerLink="/forgot-password">Forgot Password ?</a>
	                        </p>
	                    </div>
	                    <hr>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</div>