<div class="panel-header panel-header-sm">

</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEditing" class="card-title title"> Add Dealer Admin </h5>
                    <h5 *ngIf="isEditing" class="card-title title"> Edit Dealer Admin </h5>
                </div>
                <div class="card-body">
		          <form #dealerAdminForm="ngForm" (ngSubmit)="onSubmit(dealerAdminForm)">
		            <div class="row">
		            	<div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label for="firstName">Firstname</label>
			                  <input 
			                  type= "text" 
			                  class= "form-control" 
			                  name= "firstName"
			                  #dealAdFirstName= "ngModel"
			                  [ngClass]= "{'is-invalid': dealAdFirstName.errors && dealAdFirstName.touched}"
			                  [(ngModel)]= "user.firstName"
			                  placeholder= "Firstname"
			                  autocomplete="off"
			                  required>
			                  <div [hidden]="!dealAdFirstName.errors?.required" class="invalid-feedback">
	                            	Firstname is required.
	                            </div>
			                </div>
			            </div>
			            <div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>Lastname</label>
			                  <input 
			                  type= "text" 
			                  class= "form-control" 
			                  name= "lastName"
			                  #dealAdLastName= "ngModel"
			                  [ngClass]= "{'is-invalid': dealAdLastName.errors && dealAdLastName.touched}"
			                  [(ngModel)]= "user.lastName"
			                  placeholder= "Lastname"
			                  autocomplete="off"
			                  required>
			                  <div [hidden]="!dealAdLastName.errors?.required" class="invalid-feedback">
	                            	Lastname is required.
	                          </div>
			                </div>
			            </div>
			        </div>
			        <div class="row">
			            <div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>Email ID</label>
			                  <input 
			                    type="email" 
                                #EmailId = "ngModel"
                                [(ngModel)]="user.email"
                                name="email"
                                [ngClass]="{'is-invalid': EmailId.errors && EmailId.touched}"
                                class="form-control" 
                                placeholder="E-mail ID"
                                autocomplete="off"
                                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                                required>
                                <div [hidden]="!EmailId.errors?.required" class="invalid-feedback">
	                            	E-mail ID is required.
	                            </div>
	                            <div [hidden]="!EmailId.errors?.pattern" class="invalid-feedback">
	                            	E-mail ID is not valid.
	                            </div>
			                </div>
			            </div>
			            <div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>City</label>
			                  <input 
			                  type= "text" 
			                  class= "form-control" 
			                  name= "user_city"
			                  #dealAdCity= "ngModel"
			                  [ngClass]= "{'is-invalid': dealAdCity.errors && dealAdCity.touched}"
			                  [(ngModel)]= "user.user_city"
			                  placeholder= "City"
			                  autocomplete="off"
			                  required>
			                  <div [hidden]="!dealAdCity.errors?.required" class="invalid-feedback">
                            	  City is required.
                              </div>
			                </div>
			            </div>
			        </div>
			        <div class="row">
		            	<div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>Password</label>
			                  <input 
			                  type="password" 
			                  class="form-control" 
			                  placeholder="Password"
			                  name= "password"
			                  #dealAdPassword= "ngModel"
			                  [ngClass]= "{'is-invalid': dealAdPassword.errors && dealAdPassword.touched}"
			                  [(ngModel)]= "user.password"
			                  placeholder= "Password"
			                  minlength="5"
			                  required 
			                  >
			                  <div [hidden]="!dealAdPassword.errors?.required" class="invalid-feedback">
                            	  Password is required.
                              </div>
                              <div [hidden]="!dealAdPassword.errors?.minlength" class="invalid-feedback">
                            	  Minimum length is 5.
                              </div>
			                </div>
			            </div>
			            <!-- <div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>Confirm Password</label>
			                  <input 
			                  type="password" 
			                  class="form-control" 
			                  placeholder="Password"
			                  name= "confirmpassword"
			                  #dealAdConfPassword= "ngModel"
			                  [ngClass]= "{'is-invalid': dealAdConfPassword.errors && dealAdConfPassword.touched}"
			                  [(ngModel)]= "confirmpassword"
			                  placeholder= "Password"
			                  minlength="5"
			                  required validateEqual="dealAdPassword"
			                  required>
			                  <div [hidden]="!dealAdConfPassword.errors?.required" class="invalid-feedback">
                            	  Please confirm password.
                              </div>
                              <div [hidden]="!dealAdConfPassword.errors?.minlength" class="invalid-feedback">
                            	  Minimum length is 5.
                              </div>
                              <div [hidden]="dealAdConfPassword.valid" class="invalid-feedback">
                            	  Password Mismatch.
                              </div>
			                </div>
			            </div> -->
			        </div>
			        <!-- <hr> -->
			        <div class="row">
			        	<div class="col-md-12">
			        		<a class="btn btn-xs btn-default mr-1" href="javascript:void(0);" routerLink="/dealer-admin" *ngIf="!onBtnLoading">Back</a>
			        		<button *ngIf="!isEditing && !onBtnLoading" class="btn btn-xs btn-primary" type="submit">Submit</button>
			        		<button *ngIf="isEditing && !onBtnLoading" class="btn btn-xs btn-primary" type="submit">Update</button>
			        		<div class="loader loader_orange loader_xs" *ngIf="onBtnLoading"></div>
			        	</div>
			        </div>
			        <!-- <div class="row">
		            	<div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>Address 1</label>
			                  <input type="text" class="form-control" placeholder="Address 1">
			                </div>
			            </div>
			            <div class="col-md-6 px-2">
			                <div class="form-group">
			                  <label>Address 2</label>
			                  <input type="text" class="form-control" placeholder="Address 2">
			                </div>
			            </div>
			        </div>
			        <div class="row">
		            	<div class="col-md-4 px-2">
			                <div class="form-group">
			                  <label>Street Name</label>
			                  <input type="text" class="form-control" placeholder="Street Name">
			                </div>
			            </div>
			            <div class="col-md-4 px-2">
			                <div class="form-group">
			                  <label>Street Number</label>
			                  <input type="text" class="form-control" placeholder="Street Number">
			                </div>
			            </div>
			            <div class="col-md-4 px-2">
			                <div class="form-group">
			                  <label>Zipcode</label>
			                  <input type="number" class="form-control" placeholder="Zipcode">
			                </div>
			            </div>
			        </div>
			        <div class="row">
			        	<div class="col-md-4 px-2">
			                <div class="form-group">
			                  <label>Zipcode</label>
			                  <select class="form-control">
			                  	<option value="">Dealer Admin</option>
			                  	<option value="">Dealer</option>
			                  </select>
			                </div>
			            </div>
			        </div> -->
			      </form>
				</div>
            </div>
        </div>
    </div>
</div>