
<div class="logo">
    <a href="javascript:void(0);" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/angular2-logo-white.png"/>
      </div>
    </a>
    <a href="javascript:void(0);" class="simple-text logo-normal">
        Posem App
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
    
        <li routerLinkActive="active" class="nav-item">
            <a href="javascript:void(0);" routerLink="/dashboard">
                <i class="now-ui-icons design_app"></i> Dashboard
            </a>
        </li>

        <li *ngIf="roleNotDealerAdmin() && roleNotDealer()" routerLinkActive="active" class="nav-item">
            <a href="javascript:void(0);" routerLink="/dealer-admin">
                <i class="now-ui-icons users_single-02"></i> Dealer Admin
            </a>
        </li>
        <li *ngIf="roleNotDealer()" routerLinkActive="active" class="nav-item">
            <a href="javascript:void(0);" routerLink="/dealer">
                <i class="now-ui-icons users_circle-08"></i> Dealer
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a href="javascript:void(0);" routerLink="/device">
                <i class="now-ui-icons education_atom"></i> Device
            </a>
        </li>

        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li> -->
    </ul>
</div>
