/* You can add global styles to this file, and also import other style files */
.full_cover{
	height: 100vh;
	background-color: #3d7fbb;
}
.full_view{
	padding-top: 140px;
}

.loader{
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
  margin: auto;
}
.loader_dark{
  border-top: 5px solid #000;
}
.loader_orange{
  border-top: 5px solid #fa6332;
}
.loader_xs{
  width: 40px;
  height: 40px;
}
.loader_md{
  width: 70px;
  height: 70px;
}
/*map styles*/
.gllpMap {
    width: 100%;
    height: 250px;
}
.small_field.form-control{
  width: 40%;
  display: inline-block;
  margin-right: 10px;
}
.select_dev_text{
  margin: 10px 0 5px 0;
  font-weight: bold;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.table thead th {
    color: #000 !important;
}

table .btn, table .navbar .navbar-nav > a.btn{
    padding: 8px 14px;
}