<div class="panel-header panel-header-sm">

</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title title">Device Details</h5>
                </div>
                <div class="card-body">
                	<!-- <div class="loader loader_dark loader_md" *ngIf="isLoading"></div> -->
					<div class="row" *ngIf="isLoading">
		            	<div class="col-md-6 px-2">
                            <div class="form-group">
                                <label for="">Device Name</label>
                                <p>Solar V1</p>
                            </div>
                            <div class="form-group">
                                <label for="">Device ID</label>
                                <p>CMR143</p>
                            </div>
                            <div class="form-group">
                                <label for="">Dealer</label>
                                <p>Nikhil B</p>
                            </div>
                            <div class="form-group">
                                <label for="">Longitude</label>
                                <p>15.323232</p>
                            </div>
                            <div class="form-group">
                                <label for="">Latitude</label>
                                <p>12.859485</p>
                            </div>
                            <div class="form-group">
                                Device Location Map
                                
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.577489140739!2d77.59525001489553!3d12.870543620569865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6ad1ede5c437%3A0xfaf140c1fcd57f1!2sAgaze+Technologies!5e0!3m2!1sen!2sin!4v1532154704019" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                
                            </div>
                            <br>
			                <div class="form-group">
			                	<button type="button" (click)="backButton()" class="btn btn-default btn-xs">Back </button>
			                </div>
			            </div>
			        </div>
                </div>
            </div>
        </div>
    </div>
</div>